*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    background-color: #1a1a1a;
}
.Out{
    animation: Move 2s ease-in-out infinite;
    .Sphere{
        margin-top: 50px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background: linear-gradient(150deg, #663a8a, #f764cb, #fafafa);
        animation: Rotate 2s ease-in-out infinite;
    }
}
    
.Floor{
    background-image: linear-gradient(to bottom, #77b4dd, #1a1a1a);
    width: 100%;
    flex-grow: 1;
}

@keyframes Rotate {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(400deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes Move {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(300px);
    }
    100%{
        transform: translateX(0px);
    }
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 110%;
    li{
        background-image: linear-gradient(to bottom, #cbdef8, #1a1a1a);
        filter: blur(20px);
    height: 150px;
    width: 35px;
    }
    animation: Ride 1s ease-in-out infinite;
}

@keyframes Ride {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-19.5%);
    }
}