* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vh;
  background-color: #1a1a1a;
}

.Out {
  -webkit-animation: Move 2s ease-in-out infinite;
          animation: Move 2s ease-in-out infinite;
}
.Out .Sphere {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(150deg, #663a8a, #f764cb, #fafafa);
  -webkit-animation: Rotate 2s ease-in-out infinite;
          animation: Rotate 2s ease-in-out infinite;
}

.Floor {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#77b4dd), to(#1a1a1a));
  background-image: linear-gradient(to bottom, #77b4dd, #1a1a1a);
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@-webkit-keyframes Rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(400deg);
            transform: rotate(400deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes Rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(400deg);
            transform: rotate(400deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes Move {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes Move {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 110%;
  -webkit-animation: Ride 1s ease-in-out infinite;
          animation: Ride 1s ease-in-out infinite;
}
ul li {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cbdef8), to(#1a1a1a));
  background-image: linear-gradient(to bottom, #cbdef8, #1a1a1a);
  -webkit-filter: blur(20px);
          filter: blur(20px);
  height: 150px;
  width: 35px;
}

@-webkit-keyframes Ride {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-19.5%);
            transform: translateX(-19.5%);
  }
}

@keyframes Ride {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-19.5%);
            transform: translateX(-19.5%);
  }
}